.dropdown-container {
  position: relative;
  display: inline-block;
  left: 4vw;
  top: -32vw;
}

.selected-image {
  position: relative;
  left: 3.2rem;
  top: -1.5rem;
  background-size: cover;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
}

