button {
  margin: 1.97%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 7.35%;
  height: 15%;
  border-radius: 50%;
  text-indent: -9999px;
}
.button8, .button9, .button10 {
  position: relative; 
  transform: translateX(-50%);
  left: 3vw;
  margin: 1.47%;
  width: 13%;
  height: 6%;
  font-size: 1.2%;
  padding: 1.18% 2.35%;
  border: 0.15% solid black;
  border-radius: 20px;
  background-color: rgb(17, 13, 241);
  cursor: pointer;
  text-indent: 0%;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 6%;
}

.button1:hover, .button3:hover, .button5:hover, .button9:hover, .button10:hover {
  box-shadow: 0 0 30px #2b09c4 ;
}

.button2:hover, .button4:hover, .button6:hover, .button7:hover, .button8:hover {
  box-shadow: 0 0 30px #c50808 ;
}